[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]

pylint = "*"
"autopep8" = "*"
pylama = "*"


[requires]

python_version = "3.6"


[packages]

python-telegram-bot = "*"
requests = "*"
python-decouple = "*"
